.estiloCiano{
    background-color: cyan;
    height: 30px;
    width: 30px;
    text-align: center;
    border: solid 1px rgb(0, 110, 129);
}

.estiloRosa{
    background-color: pink;
    height: 30px;
    width: 30px;
    text-align: center;
    border: solid 1px rgb(255, 146, 164);
}

.estiloCinza{
    background-color: gray;
    height: 30px;
    width: 30px;
    text-align: center;
    border: solid 1px rgb(66, 66, 66);
}

.estiloVermelho{
    background-color: red;
    height: 30px;
    width: 30px;
    text-align: center;
    border: solid 1px rgb(148, 0, 0);
}

.estiloLaranja{
    background-color: orange;
    height: 30px;
    width: 30px;
    text-align: center;
    border: solid 1px rgb(175, 114, 0);
}

.estiloVerde{
    background-color: green;
    height: 30px;
    width: 30px;
    text-align: center;
    border: solid 1px rgb(0, 63, 0);
}

.estiloAmarelo{
    background-color: yellow;
    height: 30px;
    width: 30px;
    text-align: center;
    border: solid 1px rgb(141, 141, 0);
}

.estiloRoxo{
    background-color: indigo;
    height: 30px;
    width: 30px;
    text-align: center;
    border: solid 1px rgb(29, 0, 49);
}

.estiloLetraAzul{
    color:blue;
}

.estiloLetraVermelha{
    color:red;
}

.estiloLetraVerde{
    color:green;
}